body{
    color: mediumseagreen;
    background-color: mintcream;
    }
    
    section{
    background: rgb(252, 248, 248);
    padding-bottom: 5px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    }
    
    .chamada-texto{
    margin-right: 5%;
    }
    img{
    height: 200px;
    }
    .categorias_videos{
    display: flex;
    overflow: auto;
    gap: 15 px;
    }
    